*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #777;
    padding: 30px;
}
img{
	max-width: 100%;
}

#navbar {
	background-color: #fcfcfc;
	font-size: 18px;
	color: #777;
	height: 200px;

}

#navbar2 {
	background-color: #fcfcfc;
	font-size: 25px;
	color: #235411;
	height: 200px;

}
/*home*/
#circleLogo{
	width: 50px;
	position: absolute;
	padding: 5px;
}

#home-logo{
	position: absolute;
	top: 25%;
	left: 37%;
	/*shifts the text box half of its width to the left*/
	transform: translate(-30%, -50%);
	/*text-align: center;*/
	background-position: center;
	background-size: cover;
}
	.mobile{
			display: none;
		}

		.desktop{
			display: block;
			width: 100%;
			animation-name: moveInBottom;
			animation-duration: 2s;
			animation-timing-function: ease-out;
		}

		@keyframes moveInBottom {
		  0% {
		    opacity: 0;
		    transform: translateY(50px); }
		  100% {
		    opacity: 1;
		    transform: translate(0);
		    /*translate(0) will have the element look 
		    how it does without the animation*/ 
		    } 
		}

/*company picture and profile*/
#compPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 315px;
    padding-bottom: 100px;
}	

#compProfile{
	padding-top: 350px;
	padding-bottom: 100px;
	text-align: center;
}
	h3{
		padding-bottom: 15px;
	}
		
/*services*/
#services{
	background-size: cover;
	background-position: center;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 75px;
	padding-left: 50px;
    padding-right: 50px;
}

	h2{
		font-size: 35px;
		padding-bottom: 30px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		color: #777;
		text-decoration: underline;
	}

	.thumbnail{
		border: none;
		width: 100%;
		margin: 0 auto;
		text-decoration: none;
	}

	.caption{
		text-align: center;
	}

	#shovel{
		width: 175px;
		padding: 15px;
	}

	#snowflake{
		width: 175px;
		padding: 15px;
	}

	#leaf{
		width: 175px;
		padding: 15px;
	}

/*photo gallery*/
#gallery {
	background-size: cover;
	background-position: center;
	background-color: #ccc;
	height: 100%;
	padding-top: 75px;
	padding-bottom: 30px;
}
	.col-md-3 {
		padding-top: 15px;
		padding-bottom: 15px;
	}
/*#gallery{
	background-size: cover;
	background-position: center;
	height: 100%;
	padding-top: 100px;

}
	.thumbnailList{
	    list-style:none;
	    margin-left: -40px;
	    margin-top:20px;
	}

	.thumbnailContainer{
		padding-left: 15px;
	}

	.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	    width: 100%;
	}

	#left-btn{
	border: none;
	text-shadow: none;
	background-image: none;
	}
	#right-btn{
		border: none;
		text-shadow: none;
		background-image: none;
	}
	.glyphicon:hover{
		color: #555656;
	}*/

/*contact us*/
#contact {
	background-size: cover;
	background-position: center;
	background-color: #f2f2f2;
	height: 100%;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 30px;
}
	h3{
		font-size: 25px;
		color: #777;
		word-wrap: break-word;
	}

/*footer*/
footer{
	text-align: center;
}
	p {
		font-size: 10px;
	}

/*media queries*/
@media screen and (max-width: 900px) {
	#home-logo .desktop {
		display: none;
	}

	#home-logo .mobile{
		display: block;
		
	}
	#circle{
		width: 200px;
		margin: 0 auto;
		margin-top: 115px;
	}

	#name {
		width: 400px;
	}

	#compPic {
		width: 400px;
		margin-top: auto;
		padding-top: 375px;
		padding-bottom: 25px;
	}
	
	#compProfile {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}